<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123810129294-iujiltmuembc9o6khtnt8lokvlmmf8tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123810129294-iujiltmuembc9o6khtnt8lokvlmmf8tu</string>
	<key>API_KEY</key>
	<string>AIzaSyADJ4-h-ANjLhw9EmTa_CBTMpje--nTzcE</string>
	<key>GCM_SENDER_ID</key>
	<string>123810129294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>home-de76c</string>
	<key>STORAGE_BUCKET</key>
	<string>home-de76c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123810129294:ios:f78e4f3700500414f470df</string>
	<key>DATABASE_URL</key>
	<string>https://home-de76c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>